.section-charts {
  display: flex;
  flex-direction: column;
  gap: 45px;
  height: 100%;
  background-color: #dedede;
}

.section-infos-home {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #afafaf;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos-stock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.infos-stock span {
  font-size: 19px;
}

.card-chart-polar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section-chart {
  width: 100%;
  padding: 25px;
}

.section-form-chart {
  width: 100%;
}

.section-form-chart form {
  width: 35%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 10px;
}

.section-chart-colun {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
