.section-charts {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.section-chart-polar {
  width: 100%;
  height: 300px;
  background-color: rgb(35, 2, 66);
}

.section-chart {
  width: 100%;
  padding: 25px;
}

.section-form-chart {
  width: 100%;
}

.section-form-chart form {
  width: 35%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 10px;
}

.section-chart-colun {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .section-chart-colun div {
} */
