.section-filter {
  padding: 35px 10px;
  border-bottom: 1px solid #00000047;
  border-top: 1px solid #00000047;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-filter {
  width: 40%;
  min-width: 150px;
  padding: 6px 10px;
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #00000073;
  border-radius: 6px;
}

.input-filter:focus-visible {
  outline: 1px solid #00000047;
}
